{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body>
    <!-- navbar section start -->
    {% include '../components/_navbar.html'%}

    <!-- navbar section end -->
     

    <!-- card section start -->

    <div class="flex flex-wrap justify-center gap-6 mt-5">

        {% for blog in blogs %}
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <a href="#">
                <img class="rounded-base h-40 w-full object-contain bg-gray-100" src="{{blog.image.url}}" alt="" />
            </a>
            <a href="#">
                <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">{{ blog.title }}</h5>
            </a>
            <p class="mb-6 text-body">{{ blog.description|truncatewords:20}}</p>
            <a href="{% url 'single_blog' blog.id %}"
                class="inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                Read more
            </a>
        </div>
        {% endfor %}

    </div>


    <!-- card section end -->
</body>

</html>